body {
   
    background-color: aquamarine;


}

.list-group {
    background-color: aqua;
    width:60%;
}


#today {
    background-color: lightsalmon;

}

.card-body {
    background-color:lightskyblue;

}